{% extends 'base.html' %}

{% block content %}
<h2>{{ emp.first_name }} {{ emp.last_name }}</h2>

<p><b>Email:</b> {{ emp.email }}</p>
<p><b>Phone:</b> {{ emp.phone }}</p>
<p><b>Department:</b> {{ emp.department }}</p>
<p><b>Salary:</b> ₹{{ emp.salary }}</p>

{% if emp.photo %}
<img src="{{ emp.photo.url }}" width="150">
{% endif %}

<br><br>
<a href="{% url 'employees:edit' emp.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'employees:list' %}" class="btn btn-secondary">Back</a>
{% endblock %}
